<div class="ui centered grid" style="height: 75vh">
  <div class="ten wide middle aligned column">
    <div style="width: 100%; font-size: 24px">
      Coming Soon
    </div>
  </div>
</div>
{{outlet}}